{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="p-3" style="font-family: 'Open Sans', cursive">Сброс пароля</h1>
  {% if validlink %}
      <form action="" method="post">
        {% csrf_token %}
        {{ form.new_password1.errors|as_crispy_errors }}
        {{ form.new_password1|as_crispy_field }}
        {{ form.new_password2.errors|as_crispy_errors }}
        {{ form.new_password2|as_crispy_field }}
        <input class="btn btn-primary" type="submit" value="Изменить пароль">
      </form>
  {% else %}
    <h1>Сброс пароля завершился неудачно.</h1>
    <p>Ссылка на сброс пароля недействительна. Попробуйте запросить новый сброс пароля.</p>
  {% endif %}
{% endblock %}