{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="p-3" style="font-family: 'Open Sans', cursive">Регистрация</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      {{ field|as_crispy_field }}
      {% for error in field.errors %}
        {{ error|as_crispy_errors }}
      {% endfor %}
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Зарегистрироваться" style="margin-bottom: 1em;">
  </form>
{% endblock %}