{% extends 'base.html' %}
{% block title %} Клиент {% endblock %}
{% block content %}
    {% for group in request.user.groups.all %}
        {% if group.name == 'Администратор' or group.name == 'Тренер' %}
            <div class="d-flex justify-content-start align-items-start">
                <h1 class="pl-3 pb-0">Занятия клиента</h1>
                <h3 class="pl-3 pb-0 pt-0">{{ client.fitness_user.full_name }}</h3>
            </div>
        {% elif group.name == 'Клиент' %}
            <h1 class="pl-3 pb-0 pt-0">Мои занятия</h1>
        {% endif %}
    {% endfor %}
    <hr class="mt-1 mb-4"/>
    <div class="d-flex">
        <div class="list-group list-group-flush col-sm-6" style="border-right: 1px solid rgba(91,91,91,0.82)">
            <div class="list-group-item-heading d-flex justify-content-between align-items-center">
                <h2 class="p-2">Предстоящие занятия</h2>
            </div>
            {% for workout in workouts %}
                {% if workout.workout_datetime >= current_datetime %}
                    <div class="list-group-item border-0 list-group-item-action d-flex justify-content-between align-items-center">
                        <div>
                            <div>{{ workout }}</div>
                            <div><strong>Дата и время занятия: {{ workout.workout_datetime|date:'d.m.Y H:i' }}</strong>
                            </div>
                        </div>
                        <div>
                            <div style="margin-right: 1em;"><a
                                    href="{% url 'workout-detail' pk=workout.id %}">Подробнее</a>
                            </div>
                            {% for group in request.user.groups.all %}
                                {% if group.name == 'Администратор' %}
                                    <form class="p-0 m-0" method="POST"
                                          action="{% url "unregister" %}">
                                        <input type="hidden" name="client_pk" value="{{ client.id }}"/>
                                        <input type="hidden" name="workout_pk" value="{{ workout.id }}"/>
                                        <input type="hidden" name="redirect" value="client"/>
                                        {% csrf_token %}
                                        <button class="btn btn-link btn-primary p-0" type="submit"
                                                style="font-size: medium; font-weight: 200; text-transform: initial;">
                                            Отменить запись
                                        </button>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="list-group list-group-flush col-sm-6">
            <div class="list-group-item-heading d-flex justify-content-between align-items-center">
                <h2 class="p-2">Прошедшие занятия</h2>
            </div>
            {% for workout in workouts %}
                {% if workout.workout_datetime <= current_datetime %}
                    <div class="list-group-item border-0 list-group-item-action d-flex justify-content-between align-items-center">
                        <div>
                            <div>{{ workout }}</div>
                            <div><strong>Дата и время занятия: {{ workout.workout_datetime|date:'d.m.Y H:i' }}</strong>
                            </div>
                        </div>
                        <div>
                            <div style="margin-right: 1em;"><a
                                    href="{% url 'workout-detail' pk=workout.id %}">Подробнее</a>
                            </div>
                            {% for group in request.user.groups.all %}
                                {% if group.name == 'Администратор' %}
                                    <form class="p-0 m-0" method="POST"
                                          action="{% url "unregister" %}">
                                        <input type="hidden" name="client_pk" value="{{ client.id }}"/>
                                        <input type="hidden" name="workout_pk" value="{{ workout.id }}"/>
                                        <input type="hidden" name="redirect" value="client"/>
                                        {% csrf_token %}
                                        <button class="btn btn-link btn-primary p-0" type="submit"
                                                style="font-size: medium; font-weight: 200; text-transform: initial;">
                                            Отменить запись
                                        </button>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {#    <div class="list-group list-group-flush">#}
    {#        {% for workout in workouts %}#}
    {#            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">#}
    {#                <div>#}
    {#                    <div>{{ workout }}</div>#}
    {#                    <div><strong>Дата и время занятия: {{ workout.workout_datetime|date:'d.m.Y H:i' }}</strong></div>#}
    {#                </div>#}
    {#                <div>#}
    {#                    <div style="margin-right: 1em;"><a href="{% url 'workout-detail' pk=workout.id %}">Подробнее</a>#}
    {#                    </div>#}
    {#                    {% for group in request.user.groups.all %}#}
    {#                        {% if group.name == 'Администратор' %}#}
    {#                            <form class="p-0 m-0" method="POST"#}
    {#                                  action="{% url "unregister" %}">#}
    {#                                <input type="hidden" name="client_pk" value="{{ client.id }}"/>#}
    {#                                <input type="hidden" name="workout_pk" value="{{ workout.id }}"/>#}
    {#                                <input type="hidden" name="redirect" value="client"/>#}
    {#                                {% csrf_token %}#}
    {#                                <button class="btn btn-link btn-primary p-0" type="submit"#}
    {#                                        style="font-size: medium; font-weight: 200; text-transform: initial;">Отменить#}
    {#                                    запись#}
    {#                                </button>#}
    {#                            </form>#}
    {#                        {% endif %}#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    </div>#}
{% endblock %}