{% extends 'base.html' %}
{% block title %} Тренеры {% endblock %}
{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="p-3" style="font-size: xxx-large">Тренеры</h1>
{#        {% for group in request.user.groups.all %}#}
{#            {% if group.name == 'Администратор' %}#}
{#                <a class="" href="{% url 'create-trainer' %}">Добавить нового тренера</a>#}
{#            {% endif %}#}
{#        {% endfor %}#}
    </div>
    <hr class="mt-0 mb-4"/>
    <div class="list-group list-group-flush">
        {% for trainer in trainer_list %}
            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <div>{{ trainer }}</div>
                <div>
                    <div style="margin-right: 1em;"><a href="{% url 'trainer-detail' pk=trainer.id %}">Подробнее</a>
                    </div>
                    {% for group in request.user.groups.all %}
                        {% if group.name == 'Администратор' %}
                            <form class="p-0 m-0" method="POST" action="{% url "delete-trainer" pk=trainer.id %}">
                                {% csrf_token %}
                                <button class="btn btn-link btn-primary p-0" type="submit"
                                        style="font-size: medium; font-weight: 200; text-transform: capitalize;">Удалить
                                </button>
                            </form>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}