{% extends 'base.html' %}
{% block title %} Тренеры {% endblock %}
{% load crispy_forms_filters %}

{% block content %}
    <h1 class="p-3" style="font-size: xxx-large">Изменение данных тренера</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field|as_crispy_field }}
            {% for error in field.errors %}
                {{ error|as_crispy_errors }}
            {% endfor %}
        {% endfor %}
        <div class="input-group">
            <div class="input-group-btn mr-3">
                <a class="btn btn-primary" href="{% url 'trainer-detail' pk=trainer.id %}">Назад</a>
            </div>
            <input class="btn btn-primary" type="submit" value="Изменить" style="margin-bottom: 1em;">
        </div>
    </form>
{% endblock %}